html, body {
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
    width: 100%;
    height: calc(100% -40px);
    color: #fff;
    background: #1488CC;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #88da1e, #75a528);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b22b6a, #3383b1); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

